*{
    box-sizing: border-box;
}


pre{ 
    font-family: monospace;
    font-size: larger;
    margin: 0px; padding-left:3%; padding-top: 2%;
    color:darkolivegreen; 
    font-style: normal;
    animation-name: slideLeft;
    animation-duration: 3s;
}
table{
    border: none;
    margin-left: 5%; width: 630px; height: 260px; margin-top: 2%;}

td{ background-color: hsla(192, 100%, 71%, 0.445);
    height: auto; border-radius: 12px;}

p{padding-top: 2%; margin-top: 0; margin-bottom: 0;
font-family: monospace;
}

html{padding: 0; margin: 0;}

body{padding: 0; margin: 0; background-color: azure; 
    padding-bottom: 0; margin-bottom: 0;}

div{margin: 0px; padding: 0em;}

footer{background-color: darkgrey; height: 120px; margin-bottom: 0;
    display: flow-root;
}



#start{background-color: aquamarine; height: 20%;
    padding: bottom 1px;}



#splash{padding-left: 50%;
    font-size: larger;
    color: rgb(99, 66, 187);
}
.splashpop {
    animation: pop 0.8s infinite;
    -webkit-animation: pop 0.8s infinite;
}

@keyframes pop {
    from {
        transform:scale(0.98)
    }
    50% {
        transform:scale(1)
    }
    to {
        transform:scale(0.98)
    }
}
@-webkit-keyframes pop {
    from {
        -webkit-transform:scale(0.95)
    }
    50% {
        -webkit-transform:scale(1)
    }
    to {
        -webkit-transform:scale(0.95)
    }
}





#mainbar{ background-color:turquoise; 
        margin-left: 1%; margin-right: 1%; 
        margin-top: 1%; margin-bottom: 1%;
        border:solid; width: max-content; height: auto; 
       vertical-align: center;
        
    }

#projects{
    background-color: cadetblue;
    padding-bottom: 4%; margin-bottom: 0;}

#blog{background-color: darkcyan;
    padding-bottom: 4%; margin-bottom: 1%; margin-top: 0;}

#bgimage1{
    position: fixed;
    right: 0;
    width: 100px;
    height: 200px;
    background-color: chocolate;
    vertical-align: sub;
}

#ominousbucket{height: 160px; align-content:center; vertical-align: middle;}


#seal{ float: right; vertical-align: bottom;
         height:90px; width:90px;
         
        }
#seal:hover{
    border-color: #2f00b1;
    box-shadow: 0 0 90px rgba(251, 255, 0, 0.6);
}
#sealionid{
    height: 90px;
    position: relative;
  float: right; vertical-align: bottom;
  top: +30px;
  left: +300px;
  z-index: 2;

}


@keyframes slideLeft{
from{transform: translateX(300%)}
}